.bdp__chartcontainer {
    display: flex;
    justify-content: center;
    margin-block: 1rem;
    padding-block: 1rem;
    border: 1px solid var(--base-color);
    border-radius: 10px;
}

.bdp__combocontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 1rem;
}

.bdp__beanlist {
    width: 100px;
}
