.shwidget__container {
  margin-bottom: 1rem;
}

.mirrorimage svg {
  transform: scale(-1, 1);
  transform-origin: center;
}

.shwidget__pullright {
  justify-self: flex-end;
}

.shwidget__pullcenter {
  justify-self: center;
}

.shwidget__heading,
.shwidget__item {
  display: grid;
  grid-template-columns: 20px 125px 25px 100px 50px;
  grid-template-rows: 1fr;
  column-gap: 5px;
  align-items: center;
  justify-content: center;
}

.shwidget__small {
  font-size: 75%;
}
