:root {
    /* color palettes from https://colordesigner.io */

    /* blues */

    --blue1: hsl(235.14 45.68% 15.88%);
    --blue2: hsl(227.59 45.08% 37.84%);
    --blue3: hsl(218.18 51.93% 54.31%);
    --blue4: hsl(212.92 79.02% 71.96%);
    --blue5: hsl(207.57 82.22% 82.35%);

    /* purples */

    --purple1: hsl(266.57 85.37% 16.08%);
    --purple2: hsl(266.2 60.68% 22.94%);
    --purple3: hsl(265.3 45.36% 35.88%);
    --purple4: hsl(267.64 35.18% 49.61%);
    --purple5: hsl(266.86 53.3% 61.37%);

    /* hot purples */

    --hot-purple1: hsl(300 100% 15.1%);
    --hot-purple2: hsl(300 100% 27.45%);
    --hot-purple3: hsl(300 100% 35.1%);
    --hot-purple4: hsl(300 100% 40%);
    --hot-purple5: hsl(300 100% 42.55%);

    /* reds */

    --red1: hsl(357.39 100% 13.53%);
    --red2: hsl(358.7 100% 18.04%);
    --red3: hsl(358.27 88.54% 30.78%);
    --red4: hsl(358.49, 88.44%, 44.12%);
    --red5: hsl(358.41, 100%, 55.69%);

    /* greens */

    --green1: hsl(164.21 100% 7.45%);
    --green2: hsl(150.41 90.12% 15.88%);
    --green3: hsl(139.81 70.67% 29.41%);
    --green4: hsl(127.87 48.8% 50.98%);
    --green5: hsl(112.2 73.53% 73.33%);

    /* yellows */

    --yellow1: hsl(35.95, 100%, 53.53%);
    --yellow2: hsl(40.09 100% 53.92%);
    --yellow3: hsl(45.06 100% 53.53%);
    --yellow4: hsl(49.11 100% 53.53%);
    --yellow5: hsl(54.13 100% 53.92%);

    /* oranges */

    --orange1: hsl(15.43 100% 41.18%);
    --orange2: hsl(22.4 100% 42.55%);
    --orange3: hsl(29.46 100% 43.53%);
    --orange4: hsl(34.54 100% 46.67%);
    --orange5: hsl(39.52 100% 49.41%);

    /* pinks */

    --pink1: hsl(333.33 100% 30%);
    --pink2: hsl(327.27 84.62% 43.33%);
    --pink3: hsl(320 60% 50%);
    --pink4: hsl(325 100% 60%);
    --pink5: hsl(320 100% 70%);

    /* browns */

    --brown1: hsl(354 35.71% 10.98%);
    --brown2: hsl(5 30.51% 23.14%);
    --brown3: hsl(18.16 46.34% 32.16%);
    --brown4: hsl(24.11 41.96% 50%);
    --brown5: hsl(21.13 43.56% 68.04%);

    /* grays */

    --gray1: hsl(0 0% 16.86%);
    --gray2: hsl(0 0% 23.14%);
    --gray3: hsl(0 0% 43.92%);
    --gray4: hsl(0 0% 58.82%);
    --gray5: hsl(0 0% 72.94%);
}
